<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
   <template>
       <div>
           <h3>省市区三级联动演示</h3>
            <div id="pid_id">
           <p>
               <select v-model="platform" @change="changePlatform">
                   <option :value="i.id" v-for="i in platform_list" :key="i.id">{{ i.name }}</option>
               </select>

               <select v-model="model" @change="changeModel">
                   <option :value="i.id" v-for="i in model_list" :key="i.id">{{ i.name }}</option>
               </select>

               <select v-model="section">
                   <option :value="i.id" v-for="i in code_list" :key="i.id">{{ i.name }}</option>
               </select>
           </p>

       </div>

   </template>

    <script>
    import axios from 'axios'
        export default {
            data() {
                return {
                    platform_list: [],
                    model_list: [],
                    code_list: [],
                    platform: '',
                    model: '',
                    section: ''
                }
            },
            methods: {
                // 获取平台
                changePlatform() {
                    this.axios.get('tests/?pid_id='+this.platform).then(res => {
                    console.log(res.data)
                    this.model_list = res.data.areaList
                    })
                },
                // 获取车型代码
                changeModel() {
                    this.axios.get('tests/?pid_id=' + this.model).then(res => {
                        console.log(res.data)
                        this.code_list = res.data.areaList
                    })
                },
                getPlatform() {
                    this.axios.get('tests/').then(res=>{
                        console.log(res.data)
                        this.platform_list = res.data.areaList
                    })
                }
            },
            created() {
                this.getPlatform()
            }
        }
    </script>

</body>
</html>